/*@font-face {
    font-family: Saira;
    src: url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');
}*/

/*body {
    font-family: Saira;
    background-color: #232323 !important;
    color: white;
}

.navbar-brand {
    position: absolute;
    top: 0px;
    left: 20px;
}*/